<%- include header%>
<div class="container theme-showcase" role="main">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading shopList">商品信息</div>
    <div><%= error %></div>
    <div><%= success %></div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post">
            分类：<input type="text" class="form-control" name="category"/><br/>
            名称：<input type="text" class="form-control" name="name"/><br/>
            单元（元）：<input type="text" class="form-control" name="unitPrice"/><br/>
            单位：<input type="text" class="form-control" name="unit"/><br/>
            买二送一：
            <label class="radio-inline">
                <input type="radio" name="promotion" id="inlineRadio1" value="true"> 是
            </label>
            <label class="radio-inline">
                <input type="radio" name="promotion" id="inlineRadio2" value="false"> 否
            </label>
            <br/><input type="submit" value="提交"/>

        </form>
    </div>
    </div>
    </div>
</div>
<%- include footer%>