* {
    border:0;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}

body{
    font-size:18px;
    font-family:"宋体";
}

header {
    width:100%;
    height:50px;
    background-color:#444;
    overflow:hidden;
}

header ul {
    padding-left:100px;
    width:400px;
    height:50px;
    float:left;
}

header ul li{
    padding:0 10px;
    width:80px;
    height:50px;
    line-height: 50px;
    float:left;
    text-align: center;
}

header p{
    padding-right:140px;
    height:50px;
    line-height: 50px;
    float:right;
}

header a{
    color:#adadad;
}

header p a{
    height:50px;
    padding-left:30px;
    color:#adadad;
    font-weight:bold;
    background:url(../images/shopping-cart.png) no-repeat left;
    display:block;
}

header a:hover{
    color:#fff;
}

header .show{
    background-color:#000;
}

#index{
    margin:20px auto;
    width:980px;
    height:400px;
    background-color:#ddd;
}

#index h1{
    padding:40px 0 10px 20px;
}

#index .text{
    padding:0 20px;
}

#index .button{
    margin:20px 0 0 20px;
    width:64px;
    height:64px;
    background:#ddd url(../images/101.png);
    color:#000;
    line-height: 64px;
    display:block;
}

#shops{
    margin:20px auto;
    width:980px;
    border:1px solid #ccc;
}

#shops .head{
    width:980px;
    height:50px;
    background-color:#ddd;
    line-height:50px;
    text-align:center;
    border-bottom:1px solid #ccc;
}

#shops table{
    margin:10px auto;
    width:940px;
    background-color:#ccc;
}

#shops table td{
    height:30px;
    line-height: 30px;
    text-align: center;
    background-color:#fff;
}

#shops table .shoppings td{
    height:40px;
    line-height:40px;
}


#num{
    margin:5px auto;
    width:110px;
    height:35px;
    border:1px solid #ccc;
}

#num a{
    font-weight: bold;
    width:30px;
    height:35px;
    display: block;
}

#num .less{
    float:left;
    border-right:1px solid #ccc;
}

#num .more{
    float:right;
    border-left:1px solid #ccc;
}

#total{
    width:980px;
   margin:auto;
}

#total div,#total a{
    margin-top:10px;
    float:right;
    clear:right;
}

#total a{
    display: block;
    margin-top:20px;
    width:64px;
    height:64px;
    background: url(../images/101.png) no-repeat;
    text-align: center;
    line-height: 64px;
    color:#000;
}

form input{
    border:1px solid #adadad;
    width:200px;
    height:30px;
    margin-top:10px;
}