body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.shopList{
    text-align: center;
    font-size:20px;
}

.panel-heading{
    font-size:20px;
}

.table{
    text-align: center;
}

.count{
    text-align: right;
}

.count span{
    display: block;
    padding-bottom: 12px;
}
